.inspection_overview
  This is a 
  %strong #{@inspection.inspection_type}
  inspection for 
  %strong #{@inspection.contact_name}
  of 
  %strong #{@inspection.business_name}
  at 
  %strong #{@inspection.address}

= form_for @assignment do |f|
  - if @assignment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@assignment.errors.count, "error")} prohibited this assignment from being saved:"
      %ul
        - @assignment.errors.full_messages.each do |msg|
          %li= msg

    = f.hidden_field :inspection_id
  .row
    .field.columns.medium-6
      = f.label :inspector_id
      = f.select(:inspector_id, options_for_select(User.inspectors.pluck(:name, :id)))
    .field.columns.medium-6
      = f.label :scheduled_for
      = f.date_select(:scheduled_for, {}, {class: 'select-date'})
  .row
  .actions
    = f.submit 'Save'
