%h1 Listing assignments

%table
  %thead
    %tr
      %th Inspector
      %th Inspection type
      %th Business name
      %th Scheduled for
      %th
      %th
      %th

  %tbody
    - @assignments.each do |assignment|
      %tr
        %td= assignment.inspector.name
        %td= assignment.inspection.inspection_type
        %td= assignment.inspection.business_name
        %td= assignment.scheduled_for
        %td= link_to 'Show', assignment
        %td= link_to 'Edit', edit_assignment_path(assignment)
        %td= link_to 'Destroy', assignment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Assignment', new_assignment_path
