%p#notice= notice

%p
  %b Inspector:
  = @assignment.inspector_id
%p
  %b Inspection:
  = @assignment.inspection_id
%p
  %b Scheduled for:
  = @assignment.scheduled_for

= link_to 'Edit', edit_assignment_path(@assignment)
\|
= link_to 'Back', assignments_path
