.home
  .row.margin-top-30
    .columns.small-10.small-offset-1.medium-8.medium-offset-2.large-10.large-offset-1
      .columns.small-12.medium-6.medium-offset-3
        %a.expanded.button.button-schedule{ href: new_inspection_path } Schedule an Inspection
      .row
        .columns.small-12.medium-4
          %a.expanded.button.button-view{ href: "#{inspections_print_path}?date=#{Date.yesterday}", target:'_blank' }
            %span Print Yesterday's Inspections
            %br
            %small= Date.yesterday.strftime('%b %d, %Y')
            %br
            %small #{Inspection.where("date_trunc('day', requested_for_date) = ?", Date.yesterday).count} requests
        .columns.small-12.medium-4
          %a.expanded.button.button-view{ href: "#{inspections_print_path}?date=#{Date.today}", target:'_blank' }
            %span Print Today's Inspections
            %br
            %small= Date.today.strftime('%b %d, %Y')
            %br
            %small #{Inspection.where("date_trunc('day', requested_for_date) = ?", Date.today).count} requests
        .columns.small-12.medium-4
          %a.expanded.button.button-view{ href: "#{inspections_print_path}?date=#{Date.tomorrow}", target:'_blank' }
            %span Print Tomorrow's Inspections
            %br
            %small= Date.tomorrow.strftime('%b %d, %Y')
            %br
            %small #{Inspection.where("date_trunc('day', requested_for_date) = ?", Date.tomorrow).count} requests

  .row
    %h3 # Inspections by Day
    = line_chart Inspection.where("requested_for_date > ? and requested_for_date < ?", Date.today-30.days, Date.tomorrow).group_by_day(:requested_for_date).count
    / = line_chart Inspection.where("requested_for_date > ?", Date.today-30.days).group_by_day(:requested_for_date).count

  / .row
  /   %h2 Inspections by Inspector
  /   - Inspector.joins(:inspector_profile).each do |inspector|
  /     %div= inspector.name

  /     %table
  /       %thead
  /         %tr
  /           %th Permit number
  /           %th Contact name
  /           %th Contact phone
  /           %th Contact email
  /           %th Inspection type
  /           %th Requested for
  /           %th Address
  /           %th Assigned to
  /           %th
  /           %th
  /           %th

  /       %tbody
  /         - inspector.inspections.each do |inspection|
  /           %tr
  /             %td= inspection.permit_number
  /             %td= inspection.contact_name
  /             %td= inspection.contact_phone
  /             %td= inspection.contact_email
  /             %td= inspection.inspection_type.to_s
  /             %td= inspection.requested_for_date
  /             %td= inspection.address
  /             %td= inspection.current_assignment.present? ? inspection.current_assignment.inspector.name : nil
  /             %td= link_to 'Show', inspection
  /             %td= link_to 'Edit', edit_inspection_path(inspection)

  /   %br


  /   - inspections_today = Inspection.where("DATE_TRUNC('day', requested_for_date) = ?", DateTime.now.to_date)
  /   %h2 Today's Inspections (#{inspections_today.count})
  /   %table
  /     %thead
  /       %tr
  /         %th Permit number
  /         %th Contact name
  /         %th Contact phone
  /         %th Contact email
  /         %th Inspection type
  /         %th Requested for
  /         %th Address
  /         %th Assigned to
  /         %th
  /         %th
  /         %th

  /     %tbody
  /       - inspections_today.each do |inspection|
  /         %tr
  /           %td= inspection.permit_number
  /           %td= inspection.contact_name
  /           %td= inspection.contact_phone
  /           %td= inspection.contact_email
  /           %td= inspection.inspection_type.to_s
  /           %td= inspection.requested_for_date
  /           %td= inspection.address
  /           %td= inspection.current_assignment.present? ? inspection.current_assignment.inspector.name : nil
  /           %td= link_to 'Show', inspection
  /           %td= link_to 'Edit', edit_inspection_path(inspection)
