.home
  .row.margin-top-30
    .columns.small-10.small-offset-1.medium-8.medium-offset-2.large-10.large-offset-1
      .columns.small-12.medium-10.medium-offset-1
        %a.expanded.button.button-schedule{ href: inspections_new_express_path } Schedule an Inspection
      .row.margin-bottom-30
        .columns.small-12.medium-4
          %a.expanded.button.button-view.margin-bottom-0{ href: "#{inspections_print_path}?date=#{1.business_day.ago.to_date}", target:'_blank' }
            %span Print Yesterday's Inspections
          .text-center
            %small= 1.business_day.ago.to_date.strftime('%b %d, %Y')
            %br
            %small #{Inspection.where("date_trunc('day', requested_for_date) = ?", 1.business_day.ago.to_date).count} requests
        .columns.small-12.medium-4
          %a.expanded.button.button-view.margin-bottom-0{ href: "#{inspections_print_path}?date=#{Date.today}", target:'_blank' }
            %span Print Today's Inspections
          .text-center
            %small= Date.today.strftime('%b %d, %Y')
            %br
            %small #{Inspection.where("date_trunc('day', requested_for_date) = ?", Date.today).count} requests
        .columns.small-12.medium-4
          %a.expanded.button.button-view.margin-bottom-0{ href: "#{inspections_print_path}?date=#{1.business_day.from_now.to_date}", target:'_blank' }
            %span Print Tomorrow's Inspections
          .text-center
            %small= 1.business_day.from_now.to_date.strftime('%b %d, %Y')
            %br
            %small #{Inspection.where("date_trunc('day', requested_for_date) = ?", 1.business_day.from_now.to_date).count} requests

  .row
    %h3 # Inspections by Day
    = line_chart Inspection.where("requested_for_date > ? and requested_for_date < ?", Date.today-30.days, 2.business_days.from_now.to_date).group_by_day(:requested_for_date).count

  .row
    .columns.small-12.medium-6.medium-offset-3
      %a.expanded.button.button-schedule{ href: "#{reports_daily_path}?report_date=#{Date.today}" } View Daily  Report
  .row
    .columns.small-12.medium-6.medium-offset-3
      %a.expanded.button.button-schedule{ href: "#{reports_period_path}" } View 30-Day Report
