.row
  .margin-bottom-10 Let's fill in some contact info:
.row
  .max-width-px-400
    %label Permit number *
    = f.text_field :permit_number, required: true, placeholder: 'BRM12345'
.row
  .max-width-px-400
    %label Contact name *
    = f.text_field :contact_name, required: true, placeholder: 'Firstname Lastname'
.row
  .max-width-px-400
    %label Contact number *
    = f.text_field :contact_phone, required: true, placeholder: '(562) 555-1234'
.row
  .max-width-px-400
    = f.check_box :contact_phone_can_text
    %label Send me text messages at this number
.row
  .max-width-px-400
    %label Email
    = f.text_field :contact_email, placeholder: 'example@example.com'