= form_for @inspection do |f|
  - if @inspection.errors.any?
    #error_explanation
      %h2= "#{pluralize(@inspection.errors.count, "error")} prohibited this inspection from being saved:"
      %ul
        - @inspection.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :business_name
    = f.text_field :business_name
  .field
    = f.label :contact_name
    = f.text_field :contact_name
  .field
    = f.label :contact_phone
    = f.text_field :contact_phone
  .field
    = f.label :contact_email
    = f.text_field :contact_email
  .field
    = f.label :inspection_type
    = f.text_field :inspection_type
  .field
    = f.label :scheduled_for
    = f.datetime_select :scheduled_for
  %h5 Address
  .field
    = f.fields_for :address do |addr|
      = addr.label :line_1
      = addr.text_field :line_1
      = addr.label :line_2
      = addr.text_field :line_2
      = addr.label :city
      = addr.text_field :city
      = addr.label :zip
      = addr.text_field :zip
  .actions
    = f.submit 'Save'
