.row
  .margin-bottom-10 What is the inspection type? *
  .field
    = f.hidden_field :inspection_type_id
  .max-width-px-400
    %fieldset
      - InspectionType.pluck(:inspection_supercategory_name, :inspection_supercategory).uniq.each do |sc|
        %input{ type:'radio', class:"inspection-supercategories", name:"inspection-supercategories", value:sc[1], id:"inspection-supercategory-#{sc[1]}" }
        %label{ for:"inspection-supercategory-#{sc[1]}" } #{sc[0]}
        %br
  .max-width-px-400
    %select#inspection-names.inspection-names{ style: "display:none;", placeholder: "Type here to choose inspection types", multiple: true }
      -# options are inserted here by JS
  .max-width-px-400
    .inspection-type-comments.margin-bottom-10
.row
  .margin-bottom-10 Any details or clarification on the type of inspection required?
  .max-width-px-400
    = f.text_field :inspection_notes
