= form_for @inspection do |f|
  - if @inspection.errors.any?
    #error_explanation
      %h2= "#{pluralize(@inspection.errors.count, "error")} prohibited this inspection from being saved:"
      %ul
        - @inspection.errors.full_messages.each do |msg|
          %li= msg

  .row
    .bottom-10 Let's fill in some contact info:
  .row
    .field.columns.small-12
      = f.label 'Project Number'
      = f.text_field :permit_number, required: true, placeholder: 'BRMD123456'
  .row
    .field.columns.small-12
      = f.label :contact_name
      = f.text_field :contact_name, required: true
  .row
    .field.columns.small-12
      = f.label :contact_phone
      = f.text_field :contact_phone, required: true
  .row
    .bottom-10 What is the inspection type?
    .field.columns.small-12
      - types = InspectionType.select(:id, :inspection_category, :inspection_name).map{|type| [type.to_s, type.id] }
      = f.select(:inspection_type_id, options_for_select(types), { include_blank: true })
  .row
    .bottom-10 For which date would you like to schedule your inspection?
    .field.columns.small-12
      = f.date_select(:requested_for_date, {start_year: DateTime.now.year, end_year: DateTime.now.year+1, default: DateTime.now.tomorrow}, {class: 'select-date'} )
    .bottom-10 What time of day?
    .field.columns.small-12
      = f.select(:requested_for_time, options_for_select([['Anytime', nil], ['Morning', 'am'], ['Afternoon', 'pm']]))
  .row
    .bottom-10 Where will the inspection take place?
  .field
    = f.fields_for :address do |addr|
      = addr.label :line_1
      = addr.text_field :line_1, required: true
      = addr.label :line_2
      = addr.text_field :line_2
      .row
        .columns.small-8
          = addr.label :city
          %input{ type:'text', value:'Long Beach', disabled: true }
        .columns.small-4
          = addr.label :state
          %input{ type:'text', value:'CA', disabled: true }
      = addr.label :zip
      = addr.text_field :zip, required: true
  .row
    .bottom-10 Any other notes or instructions for when the inspector arrives?
    .field.columns.small-12
      = f.label :notes
      = f.text_field :notes
  .actions
    %button.button{ type: 'submit' } Submit
