-# @inspections | Array

%p#notice= notice
.row
  - if @inspections.count == 1
    %p An inspection request has been made for:
    .small-12.medium-6.medium-centered
      = render 'show_basic', inspection: @inspections.first
  - else
    %p We've recorded the following inspection requests, one for each type of inspection selected:
    - @inspections.each do |inspection|
      .columns.small-12.medium-6
        = render 'show_basic', inspection: inspection

.row
  = link_to 'Request Another Inspection', new_inspection_path
.row
  = link_to 'Return to Homepage', root_path
