!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Untitled"
    = render 'shared/analytics'
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = javascript_include_tag "https://www.google.com/jsapi", "chartkick"
    = csrf_meta_tags
  %body
    - if notice
      .notice= notice
    - if alert
      .alert= alert
    - if content_for(:full_width)
      = yield(:full_width)
    - else
      .content-container
        = yield
