!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Untitled"
    = stylesheet_link_tag    "application", media: "screen, print"
.print
  - @inspections.each_slice(3) do |inspections|
    - inspections.each do |inspection|
      .inspection
        .columns.small-12
          .row
            %div{style: "text-align:right;"}
              %strong Inspector:
              - if inspection.inspector.present?
                = inspection.inspector["name"]
              - else # space to write inspector's name by hand
                ____________________
        .columns.small-8
          .row
            %div
              %strong Address:
              = inspection.address
          .row
            %strong Permit/App #:
            = inspection.permit_number
          .row
            %strong Inspection Type:
            = inspection.inspection_type
          .row
            %strong Requested For Date:
            = inspection.requested_for_date.to_date
            %i= inspection.requested_for_time
        .columns.small-4{style: "text-align:right;"}
          .row
            %strong Contact Name:
            = inspection.contact_name
          .row
            %strong Contact #:
            = inspection.contact_phone.phony_formatted
          .row
            %strong Submitted at:
            = inspection.created_at.strftime('%b %e, %l:%M %p %Z')
        .columns.small-12
          %strong Address notes:
          = inspection.address_notes
        .columns.small-12
          %strong Inspection notes:
          = inspection.inspection_notes
    .page-break
