!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Untitled"
    = stylesheet_link_tag    "application", media: "screen, print"
.print
  - @inspection_cards.each_slice(3) do |cards|
    - cards.each do |card|
      .card
        .columns.small-8
          .row.margin-bottom-10
            %strong= card['address']
          .row
            Permit/App #:
            %strong= card['permit_number']
          .row
            Inspection Type:
            - if card['inspection_types'] # residential multi-inspection
              %strong Residential
              %ul
                - card['inspection_types'].each do |type|
                  %li
                    %strong= type.slice!("Residential - ") && type
            - elsif card['inspection_type'] 
              %strong= card['inspection_type']
          .row
            Requested for:
            %strong= card['requested_for_date']
            %i= card['requested_for_time']
        .columns.small-4{style: "text-align:right;"}
          .row.margin-bottom-10
            %div{style: "text-align:right;"}
              Inspector:
              - if card['inspector'].present?
                %strong= card['inspector']
              - else # space to write inspector's name by hand
                ____________________
          .row
            Contact Name:
            %strong= card['contact_name']
          .row
            Contact #:
            %strong= card['contact_phone']
          .row
            Submitted at:
            %strong= card['created_at']
        .columns.small-12
          %strong Address notes:
          = card['address_notes']
        .columns.small-12
          %strong Inspection notes:
          = card['inspection_notes']
    .page-break
